<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SurveySevlet</servlet-name>
        <servlet-class>SurveyWebApp.SurveyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Preview</servlet-name>
        <servlet-class>servlet.Preview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>servlet.Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>servlet.Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllForm</servlet-name>
        <servlet-class>servlet.GetAllForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form</servlet-name>
        <servlet-class>servlet.Form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Submit</servlet-name>
        <servlet-class>servlet.Submit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteForm</servlet-name>
        <servlet-class>servlet.DeleteForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAnswer</servlet-name>
        <servlet-class>servlet.ShowAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAnswer</servlet-name>
        <servlet-class>servlet.DeleteAnswer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveySevlet</servlet-name>
        <url-pattern>/SurveySevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preview</servlet-name>
        <url-pattern>/Preview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllForm</servlet-name>
        <url-pattern>/GetAllForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form</servlet-name>
        <url-pattern>/Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Submit</servlet-name>
        <url-pattern>/Submit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteForm</servlet-name>
        <url-pattern>/DeleteForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAnswer</servlet-name>
        <url-pattern>/ShowAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAnswer</servlet-name>
        <url-pattern>/DeleteAnswer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
